.content {
  background-color: rgb(239, 239, 239);
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 2rem 12px;
  overflow: hidden;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark {
  background-color: #252525;
  color: white;
}