.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 56px;
  width: 100%;
  padding: 0px 10px 0px 10px;
  align-items: center;
  background: linear-gradient(180deg, #068421 0%, #009621 100%);
}

.header.dark {
  background: #373737;
}