.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 56px;
  width: 100%;
  padding: 0px 10px 0px 10px;
  align-items: center;
  background: var(--green-400);
  z-index: 2;

  .header-right-side {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }
}

.header.dark {
  background: var(--dark-300);
}