@import './base.css';

#app {
  font-weight: normal;
}

a {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

input {
  all: unset;
}

input::-webkit-input-placeholder {
  box-sizing: border-box;
  opacity: 0.8;
}

input::-moz-placeholder {
  box-sizing: border-box;
  opacity: 0.8;
}

input:-ms-input-placeholder {
  box-sizing: border-box;
  opacity: 0.8;
}
