.card-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  background: var(--light-400);
  border-radius: 18px;

  .card-head {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: 8px;

    .card-title {
      font-weight: 600;
      display: block;
      width: 100%;
      color: var(--blue-200);
      margin-left: 10px;
    }

    .card-title.dark {
      color: var(--blue-100);
    }

    .card-description {
      font-size: 0.8rem;
      margin: 0 10px 0 10px;
      line-height: 1.3;
    }
  }

  .decorator {
    background: var(--blue-200);
    width: 100%;
    height: 8px;
    margin: 6px 10px 6px 10px;
  }

  .decorator.dark {
    background: var(--blue-100);
  }

  .card-events-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;

    .card-events {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 222px;
      height: 182px;
      margin: 10px;
      font-size: 16px;
      padding: 8px;
      border-radius: 18px;
      background: rgb(251, 251, 251);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

      .card-events-up {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        height: 52px;
      
        .event-title {
          font-size: 0.95rem;
          font-weight: 500;
          display: block;
          width: 100%;
          height: fit-content;
          background: var(--light-200);
          line-height: 1.3rem;
          border-radius: 12px;
          padding: 4px;
        }

        .event-title.dark {
          background:var(--dark-100);
        }
      }

      .card-events-mid {
        display: flex;
        justify-content: center;
        align-items: center;

        .event-geometries {
          margin-left: 4px;
          color: var(--green-300);
          font-size: 0.92rem;
        }

        .event-geometries.dark {
          color: var(--green-100);
          background: none;
        }
      }

      .card-events-down {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;

        .event-category {
          display: block;
          font-size: 0.86rem;
        }

        .event-data {
          display: block;
          font-size: 0.8rem;
        }
        .event-data.ice {
          margin-left: 22px;
        }
      }
    }
    .card-events.dark {
      background: var(--dark-200);
    }
  }

  .nodata-message {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.dark {
  background: var(--dark-300);
}

.card-default {
  width: 100%;
  height: auto;
  background: var(--light-400);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-default.dark {
  background: var(--dark-300);
}

@media only screen and (max-width: 767px) {
  .card-wrapper {
    padding: 28px;
  
    .card-events-wrapper {
      width: 100%;
  
      .card-events {
        width: 100%;

        .card-events-up {
          justify-content: center;

          .event-title {
            display: flex;
            justify-content: center;
          }
        }
      } 
    }
  }
  .nodata-message {
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .card-wrapper {
    width: 520px;
    .card-events-wrapper {
      
      .card-events {
        width: 222px;
      } 
    }
  }

  .card-default {
    width: 520px;
  }
}